*{
	margin:0;
	padding:0;
	
}

body{
	font-family: 'Lato', sans-serif;
}

nav ul{
	
	list-style:none;
	display:none;
}
nav ul a{
	display:block;
	background:black;
	padding:20px;
	font-size:17px;
	text-decoration:none;
	text-transform:uppercase;
	color: orange;
	font-weight:600;
	transition: color 1s ease, background 1s ease, padding 1s ease;
}
nav ul a:hover{
	background:#474747;
	color:white;
	padding-left:30px;
}

.nav-container img{
	width:100px;
	align-self:center;
}
.nav-container{
	padding:0 20px;
	background:#474747;
	border-bottom:3px solid red;
	display:flex;
	justify-content:space-between;
}

.bar{
	width:30px;
	height:4px;
	margin:7px;
	background:#ad343e
}
.btn{
	padding:2px;
	display:inline-block;
	border:4px solid #ad343e;
	align-self:center
}
.btn:hover{
	cursor:pointer;
}
header{
	min-height:100vh;
	background-color:white;
	background:linear-gradient(rgba(255, 255, 255, 0.2),rgba(255,255,255,0.4)),url(wall.jpg)center/cover fixed no-repeat;
	display:flex;
	flex-direction:column;
}
nav{
	flex: 0 0 auto;
}

.banner{
	flex:1 0 auto;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	color:white;
	text-transform:uppercase
}
.banner h1{
	font-size:50px;
}
.banner h3{
	text-transform:capitalize;
	font-size:30px;
	color:red;
}
.and{
	color:black;
}

.banner-icons{
	padding:20px;
}

.banner-icons a{
	display-inline-block;
	font-size:30px;
	background:grey;
	padding:5px 10px;
	margin:0 10px;
	border-radius:15%;
	color:white;
	transition: color 1s ease;

}

.banner-icons a:hover{
	color:gold;
}
nav{
	position:fixed;
	width:100%;
	z-index:10;
}

@media screen and (min-width:776px){
	.nav-container{
		display:none;
	}
	nav ul{
		display:flex!important;
		flex-wrap:wrap;
		justify-content:center;
		background:rgba(13, 19,23,0.8);
	}
	nav ul a{
		color:red;
		background:transparent;
	}
	nav ul a:hover{
		background:transparent;
		padding-left:20px;
	}
}





























